@import "tailwindcss";
@import "tw-animate-css";


:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}

.font-sans {
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-montserrat);
}
